body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* .i1{
  text-align: center;
}

.city{
  text-align: center;
  border: 5px solid green;
} */

.name {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  align-items: center;
  padding: 150px;
  background-color: #e1f4f3;
  /* margin: 50px; */

}
.bg{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  object-fit: cover;
}

.p2 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  align-items: center;
  padding: 150px;
  background-color: black;
/* height: 500px; */

}

.text-part {
  margin-left: 10%;
  color: white;
}
.row{
  text-align: center;
}

.ski{
  text-align: center;
  font-weight: 900;
  font-size: 50px;
  margin-bottom: 70px;
  padding-top: 40px;
}
.box{
  width: 300px;
  height: 200px;
  
  /* border: 2px solid black; */
  margin-left: 95px;
}
.col-4{
   width: 30%;
}
.service {
 width: 100%;
 height: 100vh;
  background-color: #e1f4f3;
 
}

.i3 {
  margin-left: 15%;
}

.page4 {
  background-color: rgb(0, 0, 0);
  height: 700px;
  width: 100%;
  color: white;
}

.badal {
  width: 700px;
  height: 130px;
  border-top: 1.5px solid whitesmoke;
  border-right: 1.5px solid whitesmoke;
  border-left: 1px solid rgb(156, 154, 154);
  border-bottom: 1px solid rgb(157, 157, 157);
  text-align: center;
  margin: 0 auto;
}

.client {
  margin-bottom: 120px;
  padding-top: 80px;
}
.d-flex{
  display: flex;
}
.very{
  margin-top: 80px;
  padding-bottom: 40px;
}
.j-c-between{
  justify-content: space-around;
  align-items: center;
}

.footer{
  width: 100%;
  height: 600px;
  background-color: #e1f4f3;
  /* padding-top: 100px; */
}
.footer img{
  width: 100%;
  height: 300px;
}
.Navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color:black;
  /* background-color: rgba(12, 8, 8, 0.4); */
  color: white;
  position: fixed;
  width: 100%;
  
  
}
.link{
  list-style: none;
  padding-left: 5px;
  margin:0;
  display: flex;
}
.link li{
  margin: 0 10px;
}
.link a{
  color: white;
  text-decoration: none;
  padding: 10px 40px;
  display: block;
  font-size: 22px;
}
.link a:hover{
  background-color:#575757;
  border-radius: 5px;
}

.cta-button {
  background-color: #575757;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 4px;
  /* transition: background-color 0.3s; */
}
.cta-button:hover {
  background-color: #e74c3c;
}

.cta img {
  width: 100px;
  height: 60px;
  /* margin-left: auto; */
}

.f1{
  background-color:black;
  color: white;
  text-align: center;
  padding: 20px 0;
  /* position: static; */
  margin-top: auto;
}
.f1 p{
  margin: 0;
  font-size: 16px;
}
.img{
  height: 300px;
  width: auto;
  display: flex;
}
.header{
  background-color:rgb(245, 254, 196) ;
  padding: 15px;
}
.header h1{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}